
.boxedtable {

    background-color: inherit;
    border-collapse:collapse;
}

.boxedtable td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.version {
visibility:hidden;
}

.strike {
    text-decoration: line-through;
}

.accessibility-link {
   float: right;
}

.stale-warning {
    color: red;
    background-color: #fbc9c7;
    border: 1px solid red;
    padding: 10px;
}

.warning {
    color: red;
    background-color: #fbc9c7;
    border: 1px solid red;
    padding: 10px;
}

.tocset td a.tocviewselflink {
   color: black;
   text-decoration: underline;
}

.ExerciseBody {
  padding: 0px 0px 0.5em 10px;
  border-left-style: solid;
  border-width: 5px;
  border-color: orange;
  background-color: #ffebcd;
}

.Exercise {
   font-weight: bold;
   background-color: #ffb167;
   padding: 5px 0px 5px 10px;
   margin-left: -10px;
}

.tocset {
    background-color: hsl(293, 33%, 90%);
}

a, .toclink, .toptoclink, .tocviewlink, .tocviewselflink, .tocviewtoggle, .plainlink,
.techinside, .techoutside:hover, .techinside:hover {
    color: hsl(296, 100%, 22%);
}

.boxed {
    background: linear-gradient(to bottom left, hsl(0, 0%, 99%) 0%, hsl(293, 33%, 90%) 100%);
}


.fancy-box {
  border: 1px solid #4e9a06;
  padding: 1em;
  background: #f6fff6;
  #font-weight: bold;
}

details1 > summary1 {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details1 > p1 {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

details {
  background-color: #f6fff6;
  border-radius: 0.5rem;
  margin: 1rem ;
  transition: 50ms;
}
details[open] {
    padding-bottom: 1em;
}  

summary::before,
summary::after {
    transition: 200ms;
  }



@layer markers {
  summary {
  position: relative;
}
summary::marker {
  content: none;
}
summary::before,
summary::after {
  content: '';
}
summary::before,
summary::after {
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
  }
summary::after {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
[open] summary::after {
  transform: rotate(0deg);
}
}

/* styles ported over from the second example */
@layer step2styles {
  details {
    border: 1px solid;
    padding: 0 1rem;
    background: white;
  }
  details + details {
    border-top: none;
  }
  details[open] {
      padding-bottom: 1em;
  }  
  summary {
    padding: 1rem 2em 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
  }
}


/* cascade layer: page setup. Doesn't impact the accordion */
@layer setupPage {
  
:root {
  font-size: 100%;
  line-height: 1.5;
}
body {
  background: #a4bacc99;
  color: #226daa;
  font-family: Raleway, sans-serif;
  margin: 1rem;
}
* {
  box-sizing: border-box;
}

aside {
  width: 38em;
  max-width: 98vw;
}
}
